.product-content{
  border:1px solid gainsboro;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 0;
  text-align: center;
}

.img img{
  width: 200px;
}
.content h5{
  margin-top: 20px;
}
.product-content button{
  border: none;
  background-color: rgb(52 61 114);
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: sans-serif;
  padding: 12px 40px;
  border-radius: 5px;
}

